{% extends 'shop/base.html' %}

{% block title %}Login - My E-commerce Site{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
            <div class="card border-0 rounded-lg" style="background-color: #343a40; color: white;">
                <div class="card-header text-center py-4" style="background-color: #495057; color: white;">
                    <h4 class="mb-0">Create Your Account</h4>
                </div>
                <div class="card-body p-5">
                    <form method="post">
                        {% csrf_token %}
                        <div><center>
                            {{ form.as_p }}
                        </div>
                        <div class="form-group text-center" >
                            <button type="submit" class="btn btn-light" 
                                style="width: 100px; padding: 3px 0;">
                                Sign Up
                            </button>
                        </div>
                    </form>
                    <div class="text-center mt-4">
                        <p class="mb-0">Already have an account? <a href="{% url 'login' %}" class="text-light font-weight-bold">Log In</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if messages %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        {% for message in messages %}
        Swal.fire({
            title: 'Success!',
            text: '{{ message }}',
            icon: 'success',
            confirmButtonText: 'OK'
        });
        {% endfor %}
    });
</script>
{% endif %}

{% endblock %}
