# Ignore Python bytecode files and __pycache__ directories
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore migration files and directories
*/migrations/
*/migrations/*.pyc

# Ignore specific directories
ecommerce/__pycache__/
orders/__pycache__/
payments/__pycache__/
shop/__pycache__/
users/__pycache__/
