{% extends 'base.html' %}

{% block title %}Home - My E-commerce Site{% endblock %}

{% block content %}
<!-- Hero Section -->
{% if user.is_authenticated %}
    <div class="row">
        <div class="col-12">
            <h1>Welcome {{ user.username }}, to Our Store</h1>
            <p>Browse our collection of products below.</p>
            <a href="{% url 'shop' %}" class="btn btn-light btn-lg rounded-pill shadow-lg">Shop Now</a>
        </div>
    </div>
{% else %}

<div class="row">
    <div class="col-12">
        <h1>Welcome to Our Store!</h1>
        <p>We’re glad to have you here. To enjoy our services, please <a href="{% url 'login' %}">log in</a> or <a href="{% url 'signup' %}">sign up</a>.</p>
    </div>
</div>


    <!-- Call to Action Section -->
 
{% endif %}
{% endblock %}
