{% extends 'base.html' %}
{% load static %}
{% block title %}Shop - My E-commerce Site{% endblock %}


{% block extra_head %}
<style>
   .card-img-top {
    height: 200px; /* Adjust height as needed */
    object-fit: cover;
}

</style>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        {% for item in product %}
        <div class="col-md-2 mb-4">
            <div class="card border-light shadow-sm">
                <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}" style="height: 200px; object-fit: cover;">
                <div class="card-body text-center">
                    <p class="card-title">{{ item.name }}</p>
                    {% comment %} <p class="card-text text-muted">{{ item.description }}</p> {% endcomment %}
                    <h6 class="card-price text-success">{{ item.price }}</h6>
                    <a href="#" class="btn btn-primary mt-2">Buy Now</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
